@import "tailwindcss";
@plugin "tailwind-typography";

@theme {
    --font-playfair-display: var(--font-playfair-display);

    --color-primary: #FDCE08;
}


@layer utilities {

    .bg-dev, .bg-dev *{
        background-color: rgba(200, 0, 0, 0.25) !important
    }

    /* Timeline Texts */

.timeline-item-title {
  @apply text-xl lg:text-2xl font-bold text-black;
}

.timeline-item-desc {
  @apply mt-3 leading-7 text-gray-700 text-base;
}

.timeline-item-date {
  @apply absolute text-2xl text-gray-800 -top-10 left-2 whitespace-nowrap font-medium;
}
}